
.anchor
{
  text-decoration: none;
  color: black;
}

.bg-dark {
    background-color: #122940!important;
}
.navbar {
    height: 92px;
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    /* justify-content: space-between; */
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 2.75rem;
    text-decoration: none;
    white-space: nowrap;
    letter-spacing: 6.2px;
}
a.nav-link {
    font-size: 1.5rem;
}
/* hover */
 .card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

  cursor: pointer;
 }
  .card-ace:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  
  .card-ace{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
      
  cursor: pointer;
  }
  .card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
 }
 

/* quiz.html */
.question{
    position:relative;
}
.questionin {
    position: absolute;
    top: 5px;
    right: -100px;
}
.ppoints
{
    position: absolute;
    right: 20px;
    
}
.points
{
    position: absolute;
    right: 20px;
    
}
.dalert {
    margin-bottom: -17px;
}

.hcenter {
       
text-align: center;
color: rgb(23, 14, 61);
font-family: 'Roboto', sans-serif;
}
.mceter {
    color:rgb(23, 14, 61);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* footer */

.ftext {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.bfooter {
    position: relative;
    top: 100px;
    
}

/* result */

.correctans{
    color:green;
}

.wrongans{
    color:red;
}